@import url('https://fonts.googleapis.com/css?family=Neucha|Pacifico&display=swap');

body {
    background: url("./img/bg.jpg");
    color: white;
    margin: 0;
}

.header {
    position: static;
    margin: auto;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    margin-bottom: 5px;
}

.footer {
    margin: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: auto;
    width: 99%;
}

a {
    color: hsl(185, 65%, 92%);
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin-top: 0px;
    margin-bottom: 2px;
    padding-top: 0px;
    padding-bottom: 2px;
    text-align: center;
}

.generatedContent {
    text-align: center;
    border-radius: 1.625rem;
    border-width: 1px;
    border-style: solid;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
}



.generator {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

select {
    margin-bottom: 5px;
    margin-top: 5px;
}

#myBtn {
    margin: 5px;
    width: 25%;
    height: 50px;
    background: rgba(247, 70, 26, 0.664);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 0;
    border-radius: 1.625rem;
    color: white;
    font-weight: 900;
}

.generatedContent p {
    font-size: 24px;
}

.character {
    font-size: 16px;
    padding: 10px;
    font-family: 'Abel', sans-serif;
}

.genlinks {
    padding: 5px;
    background: rgba(247, 70, 26, 0.664);
    font-family: 'Lato', sans-serif;
}

.stats {
    text-align: center;
    border-radius: 0%;
    border-width: 3px;
    border-style: dotted;
    margin: 20px auto;
    background: url("img/paper.jpg");
    background-position: center;
    width: 70%;  
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
    font-family: 'Neucha', cursive;
}

#statsOutput {
    display: flex;
    justify-content: center;
}

.stat {
    width: 65px;
    height: 75px;
    border-radius: 1.250rem;
    border-width: 0;
    /*background: rgba(255, 255, 255, 0.189);*/
    position: relative;
    margin: 5px;
}

.statProperty {
    top: 5px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.statValue {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
}

h2 {
    margin-top: 0;
    padding-top: 0;
}

.currencyConverter {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 400;
}

.selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.selectors > div {
    margin-left: 7px;
    margin-right: 7px;
}

.salaryLookup {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 400;
}

.salaryLookup > div {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}

#currencyResult {
    margin: auto;
    width: 35%;
    text-align: center;
    background: white;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border-radius: 1.43rem;
}

.currencyConverter > input {
    height: 50px;
    font-size: 25px;
    font-weight: 600;
}

#inputs > select, #outputs > select {
    height: 50px;
    font-weight: 600;
    font-size: 25px;
}

.charts {
    position: relative;
    height: 30vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#inflationChart, #powerChart {
    width: 25%;
}

table {
    margin: auto;
    justify-content: center;
    text-align: center;
}

table, th, td {
    border: 1px solid black;    
}

th {
    background: rgba(142, 191, 255, 0.3);
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

td {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:rgba(0, 0, 0, 0.85);
    color: fff;
    text-align: center;
    padding: 5px 3px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


@media screen and (max-width: 1111px) {
    .statProperty {
        font-size: 15px;
    }

    .statValue {
        font-size: 19px;
    }
}

@media screen and (max-width: 666px) {
    body {
        font-size: 25px;
    }

    .generator {
        width: 98%;
    }

    button {
        width: 35%;
        height: 80px;
        font-size: 25px;
    }

    #statsOutput {
        display: grid;
    }

    .footer {
        display: none;
    }

    @media screen and (max-width: 350px) {
    
        .generator {
            width: 98%;
        }

        button {
            font-size: 15px;
        }
    }

}